body {
  margin: 0.66em;
}

.header {
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-top: 0.66em;
}
.header__picture,
.header__caption {
  width: auto;
  padding: 0;
}
.caption__title {
  font-size: 2em;
  margin-block-start: 0.33em;
}

.main {
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.main__aside,
.main__center {
  display: block;
  width: 100%;
  padding: 0;
}
.main__section:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.flex-item {
  flex: 0 0 100%;
}
